/* CSS Main Liked Songs */
.mainLikedSongs {
  padding: 35px;
  background: rgb(65, 47, 126);
  background: rgb(18, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 52%,
    rgba(69, 53, 119, 1) 100%
  );
  min-height: 100%;
}
.mainLikedSongsBtn {
  color: var(--text-color);
  font-size: 2em;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.mainLikedSongsBtn span {
  margin-right: 1em;
}
.iconPlay {
  font-size: 4rem;
  color: var(--iconPlay-color);
  background-color: black;
  border-radius: 50%;
}

/* CSS header List Tracks  */
.headerListTracks,
.mainListTracks {
  color: var(--text-color);
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
}
.headerListTracks {
  height: 2em;
  border-bottom: var(--borderLine);
}
.titleHeader {
  display: flex;
  color: var(--subText-color);
}
.info {
  display: grid;
  grid-template-columns: 60% 30% 10%;
  color: var(--subText-color);
}
.info a {
  text-decoration: none;
  color: var(--subText-color);
}
.info a:hover {
  text-decoration: var(--aHover-textDecoration);
}
.titleHeader p,
.track > p {
  margin-right: 1em;
}

/* CSS Item Main List Tracks */
.itemMainListTracks {
  margin-top: 2em;
}
.mainListTracks {
  color: white;
  padding-left: 15px;
  padding: 5px;
}
.mainListTracks:hover {
  background-color: hsla(240, 1%, 76%, 0.34);
  opacity: 1;
  border-radius: 5px;
}
.mainListTracks:hover .track > span {
  display: block;
}
.mainListTracks:hover .track > p {
  display: none;
}
.track {
  display: flex;
  align-items: center;
  height: 50px;
}
.track > span {
  display: none;
  margin-right: 1em;
}
.track {
  display: flex;
  align-items: center;
  height: 50px;
}
.track p {
  color: var(--subText-color);
}
.infoTrack {
  display: flex;
}
.infoTrack span > a {
  color: var(--subText-color);
  text-decoration: var(--a-textDecoration);
}
.infoTrack img {
  width: 40px;
  height: 100%;
  margin-right: 1em;
}
.infoTrack h6 > a {
  text-decoration: var(--a-textDecoration);
  color: var(--text-color);
}
.infoTrack h6 > a:hover {
  text-decoration: var(--aHover-textDecoration);
}
