/* CSS Header Track */
.headerTrack {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 100%;
  padding: 1.2em;
}
.imageHeaderTrack {
  width: 15em;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}
.imageHeaderTrack img {
  width: 100%;
  min-width: 15em;
}
.contentHeaderTrack {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 2em;
  color: white;
  font-weight: bold;
  width: 100%;
}
.contentHeaderTrack h1 {
  font-size: 3em;
  font-weight: bolder;
}
.contentHeaderTrack div > span {
  opacity: 0.8;
}
.contentHeaderTrack span {
  margin-right: 1em;
}
