/* CSS Main Track */
.mainTrack {
  padding: 35px;
  background-color: transparent;
  border-top: var(--borderLine);
  margin-bottom: 5em;
}
.mainTrackBtn {
  color: var(--text-color);
  font-size: 2em;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.mainTrackBtn span {
  margin-right: 1em;
}
.iconPlay {
  font-size: 4rem;
  color: #1ed760;
  background-color: black;
  border-radius: 50%;
}
.lyricsTrack {
  color: var(--text-color);
}
.lyricsTrack h3 {
  margin-bottom: 1em;
}
.lyricsTrack p {
  line-height: 0.8em;
  color: var(--subText-color);
}
