/* CSS Genre */
.genre {
  display: grid;
  grid-template-rows: 20vh 80vh;
  overflow-y: scroll;
  height: 100%;
  background-color: #161616;
}
.headerGenre {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em;
}
.headerGenre h1 {
  color: var(--text-color);
  font-size: 6em;
  font-weight: bold;
}
