/* CSS main Search */
.mainSearch {
  color: var(--text-color);
}
.mainSearch a {
  color: inherit;
  text-decoration: var(--a-textDecoration);
  cursor: pointer;
}
.mainSearch h1 {
  font-size: 2em;
}
.gridSearch {
  display: grid;
  grid-template-columns: var(--track-gridTemplateColumns);
  grid-auto-rows: 1fr;
  row-gap: 25px;
  column-gap: 25px;
}
.browseSearch {
  color: var(--text-color);
  padding: 15px;
  overflow: hidden;
  border-radius: 10px;
}
.browseSearch img {
  width: 100px;
  height: 100px;
  position: relative;
  left: 100px;
  top: 50px;
  transform: rotate(25deg);
  opacity: 0.8;
}
.browseSearch h3 {
  font-size: 1.5em;
}
