.position {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 7em;
    left: 6em;
}

.popupLogin {
    background-color: #0d72ea;
    border-radius: 0.5em;
    width: 20vw;
    color: rgb(243, 241, 241);
    padding: 15px;
    margin-left: 2em;
}

.popupLogin h1 {
    font-size: 1.2rem;
    font-weight: bold;
}

.popupLogin p {
    font-size: 1rem;
    font-weight: 490;
}

.popupLogin .choseButton {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logIn {
    border-radius: 2em;
    width: 5vw;
    height: 100%;
    border: none;
    font-weight: bold;
    line-height: 2em;
}

.logIn:hover {
    width: 5.1vw;
    height: 103%;
}

.logIn a {
    text-decoration: none;
    color: black;
}

.notNow {
    border: none;
    background-color: transparent;
    font-weight: bold;
    opacity: 0.9;
}

.notNow:hover {
    opacity: 1;
}

.notNow a {
    text-decoration: none;
    color: white;
}

.shape {
    position: absolute;
    top: 15px;
    left: 35px;
    color: #0d72ea;
    font-size: 1.8em;
}

.iconClose{
    color: white;
    position: absolute;
    top: 5px;
    left: 22.5rem;
    font-size: 1.5em;
}