/* CSS Popup Login */
div#driver-page-overlay {
  background: none;
}
div#driver-popover-item {
  background: #0d72ea;
  color: white;
  width: 350px;
  max-width: 350px;
  height: 160px;
}
div#driver-popover-item .driver-popover-tip.left {
  left: -10px;
  top: 10px;
  border-color: transparent #0d72ea transparent transparent;
}
.driver-popover-title {
  color: white;
}
div#driver-popover-item .driver-popover-description {
  margin-bottom: 0;
  font: 14px / normal sans-serif;
  line-height: 1.5;
  color: white;
  font-weight: 400;
  zoom: 1;
}

/* CSS Chose Button */
.driver-popover-description .choseButton {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.driver-popover-description .logIn {
  border-radius: 2em;
  width: 5.5em;
  height: 100%;
  border: none;
  font-weight: bold;
  line-height: 2em;
}
.driver-popover-description .logIn:hover {
  transform: scale(1.1);
}
.driver-popover-description .logIn a {
  text-decoration: none;
  color: black;
}
.driver-popover-description .notNow {
  border: none;
  background-color: transparent;
  font-weight: bold;
}
.driver-popover-description .notNow a:hover {
  opacity: 1;
}
.driver-popover-description .notNow a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  margin-right: 1em;
}
