:root {
  --text-color: #ffffff;
  --iconPlay-color: #1fdf64;
  --subText-color: #a7a7a7;
  --a-textDecoration: none;
  --aHover-textDecoration: underline;
  --borderLine: 1px solid rgba(185, 185, 185, 0.3);
  --track-gridTemplateColumns: repeat(auto-fill, 200px);
}

.home {
  display: grid;
  grid-template-areas:
    "nav head"
    "nav main"
    "foot foot";
  grid-template-rows: 7vh 84vh 9vh;
  grid-template-columns: 22vmax 78vmax;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.home > nav {
  grid-area: nav;
  min-width: 200px;
  z-index: 3;
}

.home > header {
  grid-area: head;
  z-index: 2;
}

.home > main {
  grid-area: main;
  z-index: 1;
}

.home > footer {
  grid-area: foot;
  z-index: 2;
}
