/* CSS Main Album */
.mainAlbum {
  padding: 35px;
  background-color: transparent;
  border-top: 2px solid rgba(173, 168, 168, 0.3);
  margin-bottom: 5em;
  min-height: 100%;
}
.mainAlbumBtn {
  color: white;
  font-size: 2em;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.mainAlbumBtn span {
  margin-right: 1em;
}
.iconPlay {
  font-size: 4rem;
  color: var(--iconPlay-color);
  background-color: black;
  border-radius: 50%;
}

/* CSS Header List Tracks*/
.headerListTracks,
.mainListTracks {
  color: var(--text-color);
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
}
.headerListTracks {
  height: 2em;
  border-bottom: var(--borderLine);
}
.titleHeader {
  display: flex;
}
.titleHeader p {
  margin-right: 1em;
}
.info {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
}

/* Item Main List Tracks */
.itemMainListTracks {
  margin-top: 1em;
}
.albumListTracks {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  padding-left: 15px;
}
.albumListTracks:hover {
  background-color: hsla(0, 0%, 28%, 0.58);
  border-radius: 5px;
}
.albumListTracks p {
  color: var(--subText-color);
}
.albumListTracks:hover .track > span {
  display: block;
}
.albumListTracks:hover .track > p {
  display: none;
}
.track {
  display: flex;
  align-items: center;
  height: 50px;
}
.track span {
  display: none;
  margin-right: 1em;
}
.track > p {
  margin-right: 1em;
}
.infoTrack {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.infoTrack a {
  text-decoration: none;
  color: var(--subText-color);
  cursor: default;
}
.infoTrack a:hover {
  text-decoration: var(--aHover-textDecoration);
}
